<footer>
  <hr>
  <p>
    <b><%= current_year %> Паринов Аким</b><br>
    <%= link_to 'TestGuru', github_url('Akimeo', 'Test-Guru'),
                            target: :_blank,
                            rel: :nofollow %>
     — веб-приложение для создания и прохождения тестов.<br>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com',
                                                             target: :_blank,
                                                             rel: :nofollow %>
  </p>
</footer>
